<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="/favicon.ico" type="image/x-icon">
			<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/research">Research</a></li>
	        	    <li><a href="/publications">Publications</a></li>
	        	    <li><a href="/lab">Lab</a></li>
					<li><a href="/teaching">Teaching</a></li>
	        	    <li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:see@2pi.se">see@2pi.se</a></li>
        			<li><a href="https://orcid.org/0000-0002-7875-7543">ORCID</a></li>
					<li><a href="https://www.scopus.com/authid/detail.uri?authorId=26039133200">Scopus</a></li> 
					<li><a href="https://scholar.google.com/citations?user=zn3b3cwAAAAJ">Google Scholar</a></li>
					<li><a href="https://www.researchgate.net/profile/Sven_Erik_Ekstroem">RG</a></li>
					<li><a href="https://mathscinet.ams.org/mathscinet/search/author.html?mrauthid=869421">MathSciNet</a></li>
					<li><a href="https://zbmath.org/authors/?q=ai:ekstrom.sven-erik">zbMATH</a></li>
					</ul>
				</ul>
			</footer>
		</body>
	</html>